[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
striprtf = "*"
webdriver-manager = "*"
selenium = "*"
pymongo = "*"
openai = "*"
langchain = "*"
torch = "*"
transformers = {git = "git+https://github.com/huggingface/transformers"}
sentencepiece = "*"
ctransformers = {git = "git+https://github.com/marella/ctransformers"}
optimum = "*"
auto-gptq = "*"
scipy = "*"
accelerate = "*"
bitsandbytes = "*"
tiktoken = "*"
chromadb = "*"
huggingface-hub = "*"
gpt4all = "*"
black = "*"
pipenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
