pandas
openpyxl

striprtf

webdriver-manager
selenium

pymongo

black


# for langchain
langchain==0.0.285
transforms==4.33.1
torch==2.0.1 # pip install torch -f https://download.pytorch.org/whl/torch_stable.html
accelerate==0.22.0
