pandas
openpyxl

striprtf

webdriver-manager
selenium

pymongo

openai
langchain
torch
git+https://github.com/huggingface/transformers
sentencepiece
# transformers[torch]

scipy
sentencepiece
accelerate
bitsandbytes
tiktoken
chromadb
huggingface_hub
gpt4all

black